/**
 * Styles for screen sizes between 650px and 1000px
 */

// introduce headshot and show anchor for medium sized screens and up
@media screen and (min-width: 650px) {
    // change header icons to black
    header ul svg path {
        fill: $clr-dark;
    }

    .about {
        display: grid;
        grid-template-columns: calc(min(70vw, 80rem)) 1fr;
        grid-template-rows: 1fr;

        .about-content {
            grid-row: 1/2;
            grid-column: 1/2;
            .main-blob {
                width: 100%;
            }
        }

        // add headshot
        .headshot {
            display: unset;
            position: relative;
            grid-row: 1/2;
            grid-column: 2/3;

            // padding-top: 5rem;
            padding-top: calc(7rem - 5vw);
            .headshot-blob {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, calc(-50% + 5rem));
                // transform: translate(-3vw, 7vw);
                width: 120%;
                max-width: 38.4rem;
            }
            .headshot-img {
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // transform: translateX(-3vw);
                width: 100%;
                max-width: 32rem;
            }
        }
    }

    .contact {
        #anchor {
            display: unset;
            position: absolute;
            bottom: 5vw;
            left: 10vw;
            width: calc(min(10rem, 13vw));
        }
    }
}

// change projects to rows and rearrange contact at 700px
@media screen and (min-width: 700px) {
    .projects {
        h3 {
            text-align: center;
        }

        .project-text-box {
            margin-top: 0;
        }
        // projects are children 2, 3, 4 because the <h3> is child 1
        .project:nth-child(2),
        .project:nth-child(4) {
            flex-direction: row;
            justify-content: space-evenly;
            .project-img {
                // cube and search need a bit more room than starbattle does
                margin-left: 5rem;
            }
        }
        .project:nth-child(3) {
            flex-direction: row-reverse;
            justify-content: space-evenly;
            .project-img {
                margin-right: 3rem;
            }
        }

        // adjust cube project img since it's slightly off center
        .project:nth-child(2) .project-img {
            transform: translateY(-2rem);
        }
    }
    .contact {
        h4 {
            font-size: 3rem;
        }
    }
}

// rearrange skills at 930px
@media screen and (min-width: 930px) {
    .skills {
        height: calc(24rem + 20vw);
        position: relative;
        display: flex;
        flex-direction: column;

        h3 {
            padding: $margin-sm;
            line-height: 8rem;
            max-width: unset;
            span {
                display: block;
            }
        }

        // position skills in a grid
        .skill-icons {
            padding: unset;
            position: absolute;
            left: $margin-sm;
            bottom: 7vw;
            width: 70vw;
            height: 9vw;

            grid-template-columns: 10rem 1fr 10rem 1fr 10rem 1fr 10rem 1fr 10rem 1fr;
            grid-template-rows: 10rem;

            img {
                width: 8vw;
                margin: 0 1rem 0 1rem;
            }

            // typescript position and animations
            .skill-typescript {
                grid-row: 1/2;
                grid-column: 1/2;
                transform: translateY(5vw);
                transition: transform 3s linear;
            }
            .skill-typescript.pos-0 {
                transform: translateY(5vw);
            }
            .skill-typescript.pos-1 {
                transform: translateY(4vw);
            }
            .skill-typescript.pos-2 {
                transform: translateY(0vw);
            }
            .skill-typescript.pos-3 {
                transform: translateY(3vw);
            }

            // react position and animations
            .skill-react {
                grid-row: 1/2;
                grid-column: 3/4;
                transform: translateY(6vw);
                transition: transform 3s linear;
            }
            .skill-react.pos-0 {
                transform: translateY(6vw);
            }
            .skill-react.pos-1 {
                transform: translateY(3.5vw);
            }
            .skill-react.pos-2 {
                transform: translateY(1vw);
            }
            .skill-react.pos-3 {
                transform: translateY(5vw);
            }

            // java position and animations
            .skill-java {
                grid-row: 1/2;
                grid-column: 5/6;
                transform: translateY(3.5vw);
                transition: transform 3s linear;
            }
            .skill-java.pos-0 {
                transform: translateY(3.5vw);
            }
            .skill-java.pos-1 {
                transform: translateY(0vw);
            }
            .skill-java.pos-2 {
                transform: translateY(1vw);
            }
            .skill-java.pos-3 {
                transform: translateY(4vw);
            }

            // python position and animations
            .skill-python {
                grid-row: 1/2;
                grid-column: 7/8;
                transform: translateY(2vw);
                transition: transform 3s linear;
            }
            .skill-python.pos-0 {
                transform: translateY(2vw);
            }
            .skill-python.pos-1 {
                transform: translateY(0vw);
            }
            .skill-python.pos-2 {
                transform: translateY(4vw);
            }
            .skill-python.pos-3 {
                transform: translateY(5vw);
            }

            // cpp position and animations
            .skill-cpp {
                grid-row: 1/2;
                grid-column: 9/10;
                transform: translateY(1vw);
                transition: transform 3s linear;
            }
            .skill-cpp.pos-0 {
                transform: translateY(1vw);
            }
            .skill-cpp.pos-1 {
                transform: translateY(2vw);
            }
            .skill-cpp.pos-2 {
                transform: translateY(5vw);
            }
            .skill-cpp.pos-3 {
                transform: translateY(4.5vw);
            }
        }
    }
    .contact {
        height: 60rem;
    }
}

// allow about paragraph to grow at 970px
@media screen and (min-width: 970px) {
    .about .about-content h3 {
        max-width: unset;
    }
}
