// import google fonts
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,800&family=Sulphur+Point&display=swap");

$clr-primary-400: #009fcb;
$clr-primary-900: #002833;
$clr-neutral: #ffffff;
$clr-dark: #000000;

$margin-sm: 4rem;
$margin-md: 8rem;
$margin-lg: 12rem;

html {
    font-size: 62.5%;
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    min-width: 375px;
}

h1,
h2 {
    font-family: "Sansita", sans-serif;
}

h3,
h4,
p {
    font-family: "Sulphur Point", sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

p {
    font-size: 1.8rem;
}

// header styles
header {
    height: 8rem;
    padding: 2rem $margin-sm;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: $clr-neutral;
    }

    ul {
        list-style: none;
        display: flex;

        li {
            display: flex;
            justify-content: center;
            margin: 1rem;
        }
        // remove right margin from last icon
        li:last-child {
            margin-right: 0;
        }

        svg {
            width: 2rem;
            path {
                fill: $clr-neutral;
            }
        }
    }
}

// about styles
.about {
    padding: 0 $margin-sm;
    margin-bottom: 8rem;

    // hide headshot unless screen is big enough
    .headshot {
        display: none;
    }

    .about-content {
        position: relative;
        // put the main blob in the top left, and send to back
        .main-blob {
            z-index: -1;
            position: absolute;
            left: -$margin-sm;
            // send to top of screen (header is 8rem)
            top: calc(-8rem - 1px);

            width: 105vw;
            height: calc(100% + 13rem);
        }

        h1 {
            color: $clr-neutral;
            padding-top: 1rem;
            padding-bottom: 7rem;
        }

        h3 {
            color: $clr-neutral;
            font-size: 3rem;
            padding-bottom: 5rem;
            max-width: 25ch;
        }
    }
}

// skills styles
.skills {
    height: 90rem;
    position: relative;
    display: flex;
    flex-direction: column;

    h3 {
        padding: $margin-sm;
        max-width: 35ch;
    }

    // position skills in a grid
    .skill-icons {
        padding: 3rem $margin-sm;
        display: grid;
        align-self: center;
        width: 100%;
        grid-template-columns: 10rem 1fr 10rem 1fr 10rem;
        grid-template-rows: 10rem 10rem 10rem;
    }

    .skill-typescript {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .skill-react {
        grid-row: 1/2;
        grid-column: 5/6;
    }
    .skill-java {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .skill-python {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .skill-cpp {
        grid-row: 3/4;
        grid-column: 5/6;
    }

    // these svgs can be finicky. make sure they span the width
    // by making them larger than the viewport
    .water-1,
    .water-2 {
        z-index: 1;
        width: calc(100vw + 8px);
        position: absolute;
        bottom: -1px;
        left: -4px;
    }

    .water-2 {
        display: none;
    }

    .boat {
        z-index: -1;
        width: 30rem;
        position: absolute;
        bottom: -3rem;
        right: 3rem;
    }
}

// projects styles
.projects {
    background: $clr-primary-400;
    padding-top: 5rem;

    h3 {
        color: $clr-neutral;
        padding: 3rem $margin-sm 0rem $margin-sm;
    }

    .project {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 3rem $margin-sm;
    }

    // final project's margin it changed to padding
    // so the background color extends
    .project:last-child {
        margin-bottom: 0;
        padding-bottom: 3rem;
    }

    .project-text-box {
        position: relative;
        margin-top: 5rem;
        padding: 2rem 3rem 4rem 3rem;
        background: $clr-neutral;
        border-radius: 2rem;
    }

    .project-links {
        position: absolute;
        bottom: 2rem;
        right: 3rem;

        display: flex;

        img {
            width: 2rem;
            margin-left: 1rem;
        }
    }

    .project-img {
        width: 20rem;
    }
}

// contact styles
.contact {
    background: $clr-primary-400;
    padding-bottom: 5rem;

    h3 {
        color: $clr-neutral;
        text-align: center;
        padding: 3rem $margin-sm 1rem $margin-sm;
    }

    h4 {
        color: $clr-neutral;
        text-align: center;
        margin: 3rem $margin-sm;

        a {
            font-family: "Sansita", sans-serif;
            text-decoration: none;
            color: $clr-primary-900;
            color: white;
            display: block;
        }
    }
}

// introduce headshot for medium sized screens and up
@media screen and (min-width: 650px) {
    // change header icons to black
    header ul svg path {
        fill: $clr-dark;
    }

    .about {
        display: grid;
        grid-template-columns: calc(min(70vw, 80rem)) 1fr;
        grid-template-rows: 1fr;

        .about-content {
            grid-row: 1/2;
            grid-column: 1/2;
            .main-blob {
                width: 100%;
            }
        }

        // add headshot
        .headshot {
            display: unset;
            position: relative;
            grid-row: 1/2;
            grid-column: 2/3;

            // padding-top: 5rem;
            padding-top: calc(7rem - 5vw);
            .headshot-blob {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, calc(-50% + 5rem));
                // transform: translate(-3vw, 7vw);
                width: 120%;
                max-width: 38.4rem;
            }
            .headshot-img {
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // transform: translateX(-3vw);
                width: 100%;
                max-width: 32rem;
            }
        }
    }

    // reposition boat
    .skills .boat {
        bottom: 0rem;
    }
}

// change projects to rows and rearrange contact at 700px
@media screen and (min-width: 700px) {
    .projects {
        h3 {
            text-align: center;
        }

        .project-text-box {
            margin-top: 0;
        }
        // projects are children 2, 3, 4 because the <h3> is child 1
        .project:nth-child(even) {
            flex-direction: row;
            .project-img {
                margin-left: 3rem;
            }
        }
        .project:nth-child(odd) {
            flex-direction: row-reverse;
            .project-img {
                margin-right: 3rem;
            }
        }

        // adjust cube project img since it's slightly off center
        .project:nth-child(2) .project-img {
            transform: translateY(-2rem);
        }
    }

    .contact {
        h4 {
            text-align: left;
            a {
                display: unset;
            }
        }
    }
}

// rearrange skills at 930px
@media screen and (min-width: 930px) {
    .skills {
        height: 50rem;
        position: relative;
        display: flex;
        flex-direction: column;

        h3 {
            padding: $margin-sm;
            max-width: 40ch;
            line-height: 8rem;
        }

        // position skills in a grid
        .skill-icons {
            padding: unset;
            position: absolute;
            left: $margin-sm;
            bottom: 13rem;
            width: calc(100vw - 37rem);

            grid-template-columns: 10rem 1fr 10rem 1fr 10rem 1fr 10rem 1fr 10rem 1fr;
            grid-template-rows: 10rem;

            img {
                width: 10rem;
                margin: 0 1rem 0 1rem;
            }

            .skill-typescript {
                grid-row: 1/2;
                grid-column: 1/2;
                transform: translateY(2rem);
            }
            .skill-react {
                grid-row: 1/2;
                grid-column: 3/4;
                transform: translateY(4rem);
            }
            .skill-java {
                grid-row: 1/2;
                grid-column: 5/6;
                transform: translateY(6rem);
            }
            .skill-python {
                grid-row: 1/2;
                grid-column: 7/8;
                transform: translateY(3rem);
            }
            .skill-cpp {
                grid-row: 1/2;
                grid-column: 9/10;
            }
        }

        .boat {
            bottom: 2rem;
        }
    }
}

// allow about paragraph to grow at 970px
@media screen and (min-width: 970px) {
    .about .about-content h3 {
        max-width: unset;
    }
}

// resize everything at 1100px
@media screen and (min-width: 1100px) {
    html {
        font-size: 80%;
    }

    header {
        height: 10rem;
        padding: 3rem $margin-md;
    }
    .about {
        padding: 0 $margin-md;
        grid-template-columns: calc(min(70%, 100rem)) 1fr;

        .about-content {
            .main-blob {
                top: calc(-10rem - 1px);
                left: -$margin-md;
            }
            h3 {
                max-width: 25ch;
            }
        }
    }
    .skills {
        h3 {
            padding: 5rem $margin-md 5rem $margin-md;
            max-width: 45ch;
        }
        .skill-icons {
            left: $margin-md;
        }

        .skill-icons img {
            width: 8.5rem;
        }

        .boat {
            bottom: 3.5rem;
        }
    }
    .projects {
        h3 {
            padding: 3rem $margin-md 0rem $margin-md;
        }
        .project {
            margin: 5rem $margin-md;
        }
    }
    .contact {
        h3 {
            padding: 3rem $margin-md 1rem $margin-md;
        }
        h4 {
            margin: 3rem $margin-md;
        }
    }
}

// resize everything at 1600px
@media screen and (min-width: 1600px) {
    html {
        font-size: 100%;
    }

    header {
        padding: 3rem $margin-lg;
    }
    .about {
        padding: 0 $margin-lg;

        .about-content {
            .main-blob {
                top: calc(-10rem - 1px);
                left: -$margin-lg;
            }
        }
    }
    .skills {
        h3 {
            padding: 5rem $margin-lg 5rem $margin-lg;
            max-width: 50ch;
        }
        .skill-icons {
            left: $margin-lg;
        }
    }
    .projects {
        h3 {
            padding: 3rem $margin-lg 0rem $margin-lg;
        }
        .project {
            margin: 10rem $margin-lg;
        }
        .project:nth-child(even) .project-img {
            margin-left: 10rem;
        }
        .project:nth-child(odd) .project-img {
            margin-right: 10rem;
        }
    }
    .contact {
        h3 {
            padding: 3rem $margin-lg 1rem $margin-lg;
        }
        h4 {
            margin: 5rem $margin-lg;
        }
    }
}
