@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,800&family=Sulphur+Point&display=swap");
html {
  font-size: 62.5%;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-width: 375px;
}

h1,
h2 {
  font-family: "Sansita", sans-serif;
}

h3,
h4,
p {
  font-family: "Sulphur Point", sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

p {
  font-size: 1.8rem;
}

header {
  position: relative;
  z-index: 1;
  height: 8rem;
  padding: 2rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

header ul li:last-child {
  margin-right: 0;
}

header ul svg {
  width: 2rem;
}

header ul svg path {
  fill: #ffffff;
}

.about {
  padding: 0 4rem;
  margin-bottom: 8rem;
}

.about .headshot {
  display: none;
}

.about .about-content {
  position: relative;
}

.about .about-content .main-blob {
  z-index: -1;
  position: absolute;
  left: -4rem;
  top: calc(-8rem - 1px);
  width: 105vw;
  height: calc(100% + 13rem);
}

.about .about-content h1 {
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 7rem;
}

.about .about-content h3 {
  color: #ffffff;
  font-size: 3rem;
  padding-bottom: 5rem;
  max-width: 25ch;
}

.skills {
  height: 90rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills h3 {
  padding: 4rem;
  max-width: 35ch;
}

.skills .skill-icons {
  padding: 3rem 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  -ms-grid-columns: 10rem 1fr 10rem 1fr 10rem;
      grid-template-columns: 10rem 1fr 10rem 1fr 10rem;
  -ms-grid-rows: 10rem 10rem 10rem;
      grid-template-rows: 10rem 10rem 10rem;
}

.skills .skill-typescript {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.skills .skill-react {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.skills .skill-java {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.skills .skill-python {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.skills .skill-cpp {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.skills #water {
  z-index: 1;
  width: calc(100vw + 8px);
  position: absolute;
  bottom: -4px;
  left: -4px;
}

.skills .boat {
  z-index: -1;
  width: 30rem;
  position: absolute;
  bottom: calc(6.1354167vw - 5rem);
  right: 3rem;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.projects {
  background: #009fcb;
  padding-top: 5rem;
}

.projects h3 {
  color: #ffffff;
  padding: 3rem 4rem 0rem 4rem;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 4rem;
}

.projects .project:last-child {
  margin-bottom: 0;
  padding-bottom: 3rem;
}

.projects .project-text-box {
  position: relative;
  margin-top: 5rem;
  padding: 2rem 3rem 4rem 3rem;
  background: #ffffff;
  border-radius: 2rem;
}

.projects .project-links {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .project-links img {
  width: 2rem;
  margin-left: 1rem;
}

.projects .project-img {
  width: 20rem;
}

.contact {
  background: #009fcb;
  padding-bottom: 5rem;
}

.contact h3 {
  color: #ffffff;
  text-align: center;
  padding: 3rem 4rem 1rem 4rem;
}

.contact h4 {
  color: #ffffff;
  text-align: center;
  margin: 3rem 4rem;
}

.contact h4 a {
  font-family: "Sansita", sans-serif;
  text-decoration: none;
  color: #002833;
  color: white;
  display: block;
}

@media screen and (min-width: 650px) {
  header ul svg path {
    fill: #000000;
  }
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(min(70vw, 80rem)) 1fr;
        grid-template-columns: calc(min(70vw, 80rem)) 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .about .about-content {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .about .about-content .main-blob {
    width: 100%;
  }
  .about .headshot {
    display: unset;
    position: relative;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    padding-top: calc(7rem - 5vw);
  }
  .about .headshot .headshot-blob {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, calc(-50% + 5rem));
            transform: translate(-50%, calc(-50% + 5rem));
    width: 120%;
    max-width: 38.4rem;
  }
  .about .headshot .headshot-img {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    max-width: 32rem;
  }
}

@media screen and (min-width: 700px) {
  .projects h3 {
    text-align: center;
  }
  .projects .project-text-box {
    margin-top: 0;
  }
  .projects .project:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projects .project:nth-child(even) .project-img {
    margin-left: 3rem;
  }
  .projects .project:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .projects .project:nth-child(odd) .project-img {
    margin-right: 3rem;
  }
  .projects .project:nth-child(2) .project-img {
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  .contact h4 {
    text-align: left;
  }
  .contact h4 a {
    display: unset;
  }
}

@media screen and (min-width: 930px) {
  .skills {
    height: 50rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills h3 {
    padding: 4rem;
    line-height: 8rem;
    max-width: unset;
  }
  .skills h3 span {
    display: block;
  }
  .skills .skill-icons {
    padding: unset;
    position: absolute;
    left: 4rem;
    bottom: 13rem;
    width: calc(100vw - 37rem);
    -ms-grid-columns: 10rem 1fr 10rem 1fr 10rem 1fr 10rem 1fr 10rem 1fr;
        grid-template-columns: 10rem 1fr 10rem 1fr 10rem 1fr 10rem 1fr 10rem 1fr;
    -ms-grid-rows: 10rem;
        grid-template-rows: 10rem;
  }
  .skills .skill-icons img {
    width: 10rem;
    margin: 0 1rem 0 1rem;
  }
  .skills .skill-icons .skill-typescript {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  .skills .skill-icons .skill-react {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
  }
  .skills .skill-icons .skill-java {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
  }
  .skills .skill-icons .skill-python {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7/8;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  .skills .skill-icons .skill-cpp {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 9;
    -ms-grid-column-span: 1;
    grid-column: 9/10;
  }
}

@media screen and (min-width: 970px) {
  .about .about-content h3 {
    max-width: unset;
  }
}

@media screen and (min-width: 1100px) {
  html {
    font-size: 80%;
  }
  header {
    height: 10rem;
    padding: 3rem 8rem;
  }
  .about {
    padding: 0 8rem;
    -ms-grid-columns: calc(min(70%, 100rem)) 1fr;
        grid-template-columns: calc(min(70%, 100rem)) 1fr;
  }
  .about .about-content .main-blob {
    top: calc(-10rem - 1px);
    left: -8rem;
  }
  .about .about-content h3 {
    max-width: 25ch;
  }
  .skills h3 {
    padding: 5rem 8rem 5rem 8rem;
  }
  .skills .skill-icons {
    left: 8rem;
  }
  .skills .skill-icons img {
    width: 8.5rem;
  }
  .projects h3 {
    padding: 3rem 8rem 0rem 8rem;
  }
  .projects .project {
    margin: 5rem 8rem;
  }
  .contact h3 {
    padding: 3rem 8rem 1rem 8rem;
  }
  .contact h4 {
    margin: 3rem 8rem;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 100%;
  }
  header {
    padding: 3rem 12rem;
  }
  .about {
    padding: 0 12rem;
  }
  .about .about-content .main-blob {
    top: calc(-10rem - 1px);
    left: -12rem;
  }
  .skills h3 {
    padding: 5rem 12rem 5rem 12rem;
  }
  .skills .skill-icons {
    left: 12rem;
  }
  .projects h3 {
    padding: 3rem 12rem 0rem 12rem;
  }
  .projects .project {
    margin: 10rem 12rem;
  }
  .projects .project:nth-child(even) .project-img {
    margin-left: 10rem;
  }
  .projects .project:nth-child(odd) .project-img {
    margin-right: 10rem;
  }
  .contact h3 {
    padding: 3rem 12rem 1rem 12rem;
  }
  .contact h4 {
    margin: 5rem 12rem;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 120%;
  }
  header {
    padding: 3rem 10vw;
  }
  .about {
    padding: 0 10vw;
  }
  .about .about-content .main-blob {
    top: calc(-10rem - 1px);
    left: -10vw;
  }
  .skills h3 {
    padding: 5rem 10vw 5rem 10vw;
  }
  .skills .skill-icons {
    left: 10vw;
  }
  .skills .skill-icons img {
    width: 8vw;
  }
  .projects h3 {
    padding: 3rem 10vw 0rem 10vw;
  }
  .projects .project {
    margin: 10rem 10vw;
  }
  .projects .project:nth-child(even) .project-img {
    margin-left: 10rem;
  }
  .projects .project:nth-child(odd) .project-img {
    margin-right: 10rem;
  }
  .contact h3 {
    padding: 3rem 10vw 1rem 10vw;
  }
  .contact h4 {
    margin: 5rem 10vw;
  }
}
/*# sourceMappingURL=style.css.map */