// import google fonts
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,800&family=Sulphur+Point&display=swap");

$clr-primary-400: #009fcb;
$clr-primary-600: #006e8c;
$clr-primary-900: #003c4d;
$clr-neutral: #ffffff;
$clr-dark: #000000;

$clr-cube: #ff0000;
$clr-starbattle: #ffe100;
$clr-search: #0fff27;

$margin-sm: 4rem;
$margin-md: 8rem;
$margin-lg: 12rem;
$margin-xl: 10vw;

html {
    font-size: 62.5%;
    height: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    min-width: 375px;
}

h1,
h2 {
    font-family: "Sansita", sans-serif;
}

h3,
h4,
p {
    font-family: "Sulphur Point", sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
    font-weight: 100;
}

h4 {
    font-size: 2.5rem;
}

p {
    font-size: 1.8rem;
}

@import "mobile_styles";
@import "medium_styles";
@import "large_styles";
